/* Первый дочерний элемент контейнера table */
.workingHours {
  width: 50%;
}

.title {
  width: 100%;
  padding: 22px 0;
  background-color: #eee;
  border: 1px solid #111;
}

.cellhours {
  padding: 0px;
  border: 1px solid #111;
}
