/* columnsGroup - родительский контейнер по отношению 
    к column они же <tr>
    делаем column столбцами 
    для удобства вставки новых компонент
 */
.column {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.cell {
  padding: 0;
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
}
