/* Родительский контейнер table */
.table {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  /* border-collapse: collapse; */
}
.columnsGroup {
  width: 450px;
}
.workingHours {
  width: 650px;
}
.month {
  background-color: #eee;
  border: 1px solid #111;
}
.week {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fcfbfb;
  border: 0.05em solid #F0EBE4;
  border-radius: 2px;
  color: #000000;
  opacity: 0.3;
}
.title {
  width: 140px;
  background-color: #ffffff;
  border: 0.05em solid #F0EBE4;
  border-radius: 2px;
}
.buttonAddProject {
  position: absolute;
  content: '';
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  bottom: 3px;
  left: 2px;
  background: #f9f7f4;
  border: none;
  border-radius: 2px;
}
.buttonDeleteProject {
  position: absolute;
  content: '';
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  bottom: 3px;
  right: 2px;
  background: #f9f7f4;
  border: none;
  border-radius: 2px;
}
.cellhours {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0.05em solid #F0EBE4;
  border-radius: 2px;
}
.modalStatus {
  position: fixed;
  top: 220px;
  left: 200px;
}
.modalColor {
  position: fixed;
  top: 220px;
  left: 550px;
}
.control {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button {
  width: 140px;
}
