/* Второй дочерний элемент контейнера table */
.columnsGroup {
  display: flex;
  width: 50%;
}
/* columnsGroup - родительский контейнер по отношению 
    к column они же <tr>
    делаем column столбцами 
    для удобства вставки новых компонент
 */
.column {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
.title {
  width: 100%;
  padding: 22px 0;
  background-color: #eee;
  border: 1px solid #111;
}
.cell {
  padding: 0;
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
}
