/* Родительский контейнер table */
.table {
  position: relative;
  width: 1100px;
  /* 550 + 550
  183 + 183 + 183
  45.8 + 45.8 + 45.8 + 45.8
  */
  margin: 0 auto;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
/* Первый дочерний элемент контейнера table */
.columnsGroup {
  width: 550px;
}
/* columnsGroup - родительский контейнер по отношению
    к column они же <tr>
    делаем column столбцами 
    для удобства вставки новых компонент
 */
/* Второй дочерний элемент контейнера table */
.workingHours {
  width: 550px;
}
.month {
  background-color: #eee;
  border: 1px solid #111;
}
.week {
  width: 45px;
  box-sizing: border-box;
  padding: 6px;
  text-align: center;
  background-color: lightgreen;
  border: 1px solid black;
} 
.title {
  width: 183px;
  background-color: #eee;
  border: 0.05em solid #111;
}
.modalStatus {
  position: absolute;
  left: 200px;
}
.modalColor {
  position: absolute;
  left: 550px;
  width: 200px;
}

