/* Родительский контейнер table */
.table {
  width: 1100px;
  /* 550 + 550
  183 + 183 + 183
  45.8 + 45.8 + 45.8 + 45.8
  */
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
/* Первый дочерний элемент контейнера table */
.columnsGroup {
  display: flex;
  width: 50%;
}
/* columnsGroup - родительский контейнер по отношению
    к column они же <tr>
    делаем column столбцами 
    для удобства вставки новых компонент
 */
/* Второй дочерний элемент контейнера table */
.workingHours {
  width: 50%;
}
.month {
  width: 183px;
  box-sizing: border-box;
  padding: 12px 5px;
  background-color: #eee;
  border: 1px solid #111;
}
/* .week {
  width: 45px;
  box-sizing: border-box;
  padding: 6px;
  text-align: center;
  background-color: lightgreen;
  border: 1px solid black;
} */
